@using Fluxor
@using DeusVultClicker.Client.Shared.Store.Actions
@using DeusVultClicker.Client.Hooks
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
<Fluxor.Blazor.Web.StoreInitializer />

<header></header>
<main>
    <Game />
</main>
<footer></footer>


@code
{
    [Inject]
    private IDispatcher Dispatcher { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        Dispatcher.Dispatch(new LoadSaveStateAction());
        Window.OnBlur += (_, _) => Dispatcher.Dispatch(new SaveSaveStateAction());
        Window.OnFocus += (_, _) => Dispatcher.Dispatch(new LoadSaveStateAction());
    }
}
