article {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template: "header header header" 12% "ability owned-buildings available-buildings" 30% "stats owned-buildings faith-upgrades" auto / calc((100% - 10px)/8*2) calc((100% - 10px)/8*3) calc((100% - 10px)/8*3);
    gap: 5px;
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#ability-container {
    grid-area: ability;
    display: flex;
}

    #ability-container button {
        flex: 1;
    }

#stats-container {
    grid-area: stats;
}

#owned-buildings-container {
    grid-area: owned-buildings;
}

#available-buildings-container {
    grid-area: available-buildings;
}

#faith-upgrades-container {
    grid-area: faith-upgrades;
}
