#grid-wrapper {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template: "title era era" 12% "ability owned-buildings available-buildings" 30% "stats owned-buildings faith-upgrades" auto / calc((100% - 10px)/8*2) calc((100% - 10px)/8*3) calc((100% - 10px)/8*3);
    gap: 5px;
}

#title {
    grid-area: title;
}

    #title h1 {
        font-size: 2.5em;
    }

#era-container {
    grid-area: era;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#ability-container {
    grid-area: ability;
    display: flex;
}

    #ability-container button {
        flex: 1;
    }

#stats-container {
    grid-area: stats;
}

#owned-buildings-container {
    grid-area: owned-buildings;
}

#available-buildings-container {
    grid-area: available-buildings;
}

#faith-upgrades-container {
    grid-area: faith-upgrades;
}
