.card {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
}

.content {
    flex: 1;
}

span {
    font-size: .8em;
}

.flavor-text {
    font-style: italic;
    color: dimgrey;
}

.cost {
    font-weight: bold;
}
