<div id="sandbox-wrapper">
    <div id="era-container"><h3>ERA</h3> <button>UP</button></div>
    <div id="ability-container">
        <button>Ability 1</button>
        <button>Ability 2</button>
    </div>
    <div id="stats-container">
        <Stats />
    </div>
    <div id="owned-buildings-container"><OwnedBuildingsNew /></div>
    <div id="available-buildings-container">Available buildings</div>
    <div id="faith-upgrades-container">Faith upgrades</div>
</div>
<style>
    #sandbox-wrapper {
        display: grid;
        height: 100%;
        width: 100%;
        grid-template: "era owned-buildings available-buildings" 5% "ability owned-buildings available-buildings" 30% "stats owned-buildings faith-upgrades" auto / 2fr 3fr 3fr;
    }

    #era-container {
        grid-area: era;
        display: flex;
        justify-content: space-between;
    }

    #ability-container {
        grid-area: ability;
        display: flex;
    }

        #ability-container button {
            flex: 1;
        }

    #stats-container {
        grid-area: stats;
    }

    #owned-buildings-container {
        grid-area: owned-buildings;
    }

    #available-buildings-container {
        grid-area: available-buildings;
    }

    #faith-upgrades-container {
        grid-area: faith-upgrades;
    }
</style>
@code {

}
