#available-buildings-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

    #available-buildings-wrapper ::deep .card + .card {
        margin-top: 5px;
    }
