@using DeusVultClicker.Client.Shared.Store.Actions
@using Fluxor
@using DeusVultClicker.Client.Buildings.Store
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Owned buildings</h3>
<ul>
    @foreach (var building in BuildingState.Value.OwnedBuildings)
    {
        <li>
            <span class="building-title">@building.Title</span>
            <span class="building-effect-description">@building.EffectDescription</span>
            <button class="btn btn-warning" type="button" @onclick="() => Dispatcher.Dispatch(new DemolishBuildingAction(building))">Demolish</button>
        </li>
    }
</ul>

@code {
    [Inject]
    private IState<BuildingState> BuildingState { get; set; }
    [Inject]
    private IDispatcher Dispatcher { get; set; }
}
