@inherits Fluxor.Blazor.Web.Components.FluxorComponent
<div id="owned-buildings-wrapper">
    @foreach (var building in BuildingState.Value.OwnedBuildings)
    {
        <AdvancementCard Title="@building.Title"
                         Description="@building.Description"
                         EffectDescription="@building.EffectDescription"
                         FlavorText="@building.FlavorText"
                         BuyText="Demolish"
                         OnBuy="() =>  Dispatcher.Dispatch(new DemolishBuildingAction(building))" />

    }
</div>

@code {
    [Inject]
    private IState<BuildingState> BuildingState { get; set; }
    [Inject]
    private IDispatcher Dispatcher { get; set; }
}
