<button class="btn btn-sm" @onclick="()=> SaveStateService.SaveToLocalStorageAsync()">
    <i class="material-icons">save</i>
</button>

@code {
    [Inject]
    private SaveStateService SaveStateService { get; set; }
}
